body{
	display:flex;
	justify-content:center;
	margin-top: 0px;
}
@font-face {
	font-family: Oswald;
	src: url(Oswald.ttf);
}
.wrapper{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width:1100px;
	background-color:#dedec4;
}
.main{
	margin:10px;
	margin-top:0px;
}

.container{
	background-color:beige;
	padding:25px;
	margin:15px;
	margin-top:0px;
}
.flex{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
}

.row{
	 flex-direction:row;
}
.center{
	justify-content:center;
	align-content:center;
}
.span{
	width:100%;
}
.button{
	background-color:#dedec4;
	border:1px solid black;
	border-bottom-width:0px;
	padding:10px;
	margin:3px;
	font-family:Oswald;
	text-decoration:none;
	color:grey;
}
.active{
	background-color:beige;
}

/*content*/
img{
	width:100%;
}
h1,h2,h3,h4,h5,h6{
	font-family:Oswald;
	margin:0px;
}
p,li,label{
	font-family:ARIAL;
}
article.sharedrow{
	 width:60%;
}
aside{
	width:30%;
}
@media (max-width:1100px){
	.wrapper{
		width:100%
	}
}
@media (max-width:1000px){
	article.sharedrow{
	width:100%;
	}
	aside{
		width:100%;
		display:flex;
		flex-direction:row;
	}
	aside>div,aside>nav{
		width:50%;
		}
	flex{
		flex-direction:row;
	}
}